transactions/src/main/mule/transactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d85e0a74-8db4-4910-ae42-de5af31f4003" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transactionsFlow" doc:id="2a6f6c3e-2ad9-4d35-abcd-5d3e123e2e14" >
		<http:listener doc:name="Listener" doc:id="9f360c45-a505-472b-8ff4-0bb39742cae2" config-ref="HTTP_Listener_config" path="/systemapi/transaction/" outputMimeType="application/x-www-form-urlencoded" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7f34196-1412-4e49-bcf9-21eddd9139d1" message='#["Hello World"]'/>
		<set-payload value='#[%dw 2.0
output text/plain
---
"Hello World Modified"]' doc:name="Set Payload" doc:id="7a129ffd-db90-42ba-b186-badd4a505c3d" />
	</flow>
</mule>
